* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.balloonDiv {
    display: flex;
    flex-wrap: wrap;
}

.head {
    text-align: center;
}

.balloon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 30px 30px;
    text-align: center;
    align-items: center;
}

.red {
    background-color: red;
    position: relative;
    animation: down 5s infinite;
}

.blue {
    background-color: blue;
    position: relative;
    animation: right 5s infinite;
}

.green {
    background-color: green;
    position: relative;
    animation: up 5s infinite;
}

.yellow {
    background-color: yellow;
    position: relative;
    animation: up 5s infinite;
}

.popup {
    background-color: white;
    border: 1px solid #ccc;
}

/* #divAni{
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: mymove 5s infinite;
  } */

@keyframes down {
    0% {
        top: 100px;
    }
    25% {
        top: 0px;
    }
    50% {
        top: 100px;
    }
    75% {
        top: 0px;
    }
    100% {
        top: 100px;
    }
}

@keyframes up {
    0% {
        bottom: 100px;
    }
    25% {
        bottom: 0px;
    }
    50% {
        bottom: 100px;
    }
    75% {
        bottom: 0px;
    }
    100% {
        bottom: 100px;
    }
}

@keyframes right {
    0% {
        right: 170px;
    }
    25% {
        right: 0px;
    }
    50% {
        right: 170px;
    }
    75% {
        right: 0px;
    }
    100% {
        right: 170px;
    }
}