* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

.nav {
    background-color: rgb(71, 71, 71);
    position: fixed;
    height: 50px;
    width: 100%;
    /* top: 100px;
    right: 100px; */
}

.toggle {
    height: 30px;
    width: 30px;
    /* background: white; */
    position: fixed;
    top: 10px;
    left: 20px;
    cursor: pointer;
}

.burger {
    height: 3px;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
}

#toggleCheck {
    display: none;
}

/* ************* toggle menu ************ */

.toggleMenu {
    height: calc(100vh - 50px);
    background-color: rgb(16, 36, 16);
    width: 300px;
    position: fixed;
    top: 50px;
    left: 0px;
    z-index: 1;
    opacity: 1;
    transition: .3s;
    transform: translateX(-300px);
}

.toggleMenu ul {
    /* margin-left: 40px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toggleMenu ul li {
    margin: 40px 0px;
    color: white;
    /* font-weight: bold; */
    cursor: pointer;
    font-size: 20px;
    
}



#toggleCheck:checked ~ .toggleMenu{
    /* transform: translateX(300px); */
    
    transform: translateX(0px);

}




@media only screen and (max-width: 600px){
    .toggleMenu {
        
        width: 100%;
        transform: translateX(calc(-100%));
        
    }
}











