

@media screen and (max-width: 600px) {
    

    .main{
        padding-top: 20px;
    }

    .main h1{
        width: 90%;
    }

    .inputSec{
        margin-top: 20px;
    
    }

    .inputSec input{
        width: 170px;
    }

    .inputSec button{
        height: 33px;
        width: 85px;
        margin: 0px 2px;
        
    }

    .showList button{
        height: 33px;
        width: 80px;
        margin: 0px 2px;
        
    }
    
    .showList ul li{
        font-size: 18px;
        width: 100%;
        margin: 5px 0px;
    
    }

    .showList ul li input{
        margin-left: 5px;
        width: 180px;
        padding: 3px;
        font-size: 18px !important;
       
    }
    

















}