*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#mainHead{
    text-align: center;
    margin-top: 20px;
    /* background-color: rgb(124, 82, 82); */
}

#teamMembers{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* border: 1px solid #ccc; */
    height: 100px;
    justify-content: center;
    margin-top: 20px;
}

#teamMembers li{
    padding: 4px 10px;
    background-color: rgb(255, 255, 255);
    height: 39px;
    margin: 4px 10px;
    color: rgb(82, 82, 82);
    width: 150px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    font-weight: 500;
}

#questionUl{
    min-height: 300px;
    /* margin-left: 100px; */
    text-transform: uppercase;
    /* border: 1px solid #ccc; */
}

#questionUl li{
    /* background-color: rgb(151, 94, 94); */
    border: none;
    border-bottom: 1px solid #ccc !important;
    margin: 10px 10px;
    width: 340px;
}

#questions{
    margin-top: 10px;
}