*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none !important;
    list-style: none !important;
}

/* #qA:nth-last-child(3){
    font-weight: 500;
} */

#reportsSec{
    font-weight: 400;
    line-height: 130%;
}
.mainHead{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    margin-bottom: -10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    /* background: #000; */
    /* color: black !important; */
    
    /* background-color: rgb(116, 68, 68); */
}

.mainHead a{
    color: black;
}

.header{
    width: 110px;
    height: 35px;
    /* padding-bottom: 20px !important; */
    /* background-color: rgb(105, 54, 54); */
    
}

.header:hover{
    border-bottom: 3px solid rgb(17, 17, 17);
}

#reports{
    border-bottom: 3px solid rgb(17, 17, 17);

}

@media screen and (max-width: 570px) {
    *{
        /* background-color: rgb(189, 95, 95); */
    }

    .header{
        font-size: 16px !important;
        /* background-color: aqua; */
    }
    #reports{
        border-bottom: 1px solid rgb(17, 17, 17);
    
    }

    .header:hover{
        border-bottom: 1px solid rgb(17, 17, 17);
    }
    
    #reports{
        border-bottom: 1px solid rgb(17, 17, 17);
    
    }


}