*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.text-center{
    font-size: 51px;
    font-weight: bold;
    border: 4px solid rgba(61, 29, 110, 0.979);
    color: rgba(49, 25, 85, 0.979);
    padding: 0px 5px;
    height: 90px ;
    width: 400px;
    border-radius: 46px;
    margin: auto;
    font-family: 'Zilla Slab', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 5px rgb(221, 221, 221);

    /* background-color: rgb(49, 22, 22); */
}

.navbar{
    background-color: rgba(49, 25, 85, 0.979) !important;
}


.time ul{
    width: 750px;
    list-style: none;
    display: flex;
    justify-content: center;
    /* align-items: center !important; */
    /* justify-content: center; */
    /* background-color: rgb(224, 149, 224); */
    margin: 0 auto;
    color: rgba(61, 29, 110, 0.979);
}

.time ul li{
    padding: 5px 40px;
    font-size: 39px;
    font-weight: bold;
    /* background-color: red; */
    margin: 0px 10px;
    border: 4px solid rgba(61, 29, 110, 0.979);
    border-radius: 39px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    width: 230px;
    height: 75px;
    box-shadow: 0px 0px 10px 5px rgb(221, 221, 221);
    
}
.time ul span{
    font-size: 49px;
    font-weight: bold;
}


.buttons{
    /* background-color: rosybrown; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;

}

.buttons button{
    border: none;
    margin: 0px 5px;
    width: 150px;
    height: 50px;
    font-size: 28px;
    /* font-weight: bold; */
    border-radius: 30px;
    font-family: 'Zilla Slab', serif;
    background-color: rgba(49, 25, 85, 0.979);
    color: white;
    box-shadow: 0px 0px 10px 3px rgb(207, 207, 207);
}

.lapTable{
    color:  rgba(49, 25, 85, 0.979) !important;

}

.lapTable tr{
    font-size: 20px;
}

button:disabled{
    background-color: rgb(77, 77, 77);
}




@media screen and (max-width: 800px) {
    .text-center{
        font-size: 38px;
        font-weight: bold;
        padding: 0px 5px;
        height: 70px ;
        width: 300px;
        border-radius: 46px;
       
    
        /* background-color: rgb(49, 22, 22); */
    }

    .time ul{
        width: 100%;
        display: flex;
        margin-left: -12px;
        align-items: center;
       
    }

    .time ul li{
        /* padding: 5px 30px; */
        font-size: 27px;
        /* font-weight: bold; */
        border-radius: 32px;
        width: 100px;
        height: 55px;
        display: flex;
        align-items: center;
       
    }

    #lapMsec{
        width: 135px;
    }

    .time ul span{
        font-size: 35px;
        font-weight: normal;
    }

    .buttons button{
        border: none;
        margin: 0px 5px;
        width: 120px;
        height: 40px;
        font-size: 20px;
        border-radius: 22px;
        
    }
    

  }