* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

.nav {
    height: 50px;
    background-color: rgb(65, 64, 64);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(243, 243, 243);
}

#toggle {
    display: none;
}

.navBarStuff {
    height: 50px;
    background-color: rgb(65, 64, 64);
    color: rgb(243, 243, 243);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    width: 100%;
    z-index: 1;
    position: absolute;
    transition: .2s all ;
}

.navBarStuff ul {
    display: flex;
}

.navBarStuff ul li {
    padding: 0px 35px;
    color: white;
    font-size: 20px;
}

/* ********* burger styling *********** */

.togglecheck {
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 22;
    display: none;
    /* background-color: #fff; */
}

.lines {
    height: 3px;
    margin-top: 6px;
    background-color: #fff;
}

@media screen and (max-width: 830px) {
    .navBarStuff ul li {
        padding: 0px 15px;
        font-size: 18px;
    }

    
}

@media screen and (max-width: 650px) {
    .togglecheck {
        display: block;
    }
    .nav {}

    .navBarStuff {
        /* display: none; */
    }

    .navBarStuff h1{
        display: none;
    }
    
    .navBarStuff ul {
        flex-direction: column;
        display: none;
        margin-bottom: 16px;
    }
    .navBarStuff h1 {
        margin-top: 10px;
        /* transition-delay: 1s; */
    }
    .navBarStuff ul li {
        margin: 22px 5px;
    }
   
    #toggle:checked~.navBarStuff {
        display: flex;
        flex-direction: column;
        height: 420px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0px 0px;
        width: 100%;
        /* color: aqua; */
    }

    #toggle:checked~.navBarStuff ul {
        display: flex;
        flex-direction: column;
       
    }

    #toggle:checked ~ .navBarStuff h1{
        display: block;
    }




}