*{
    box-sizing: border-box;
}

#modalBBtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#selectCategory{
    width: 200px;
}

.itemsDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 10px; */
}

.items{
    margin: 10px 10px;
}