*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#modalBBtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#selectCategory{
    width: 200px;
}

.itemsDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 10px; */
}

.items{
    margin: 10px 10px;
}

.card img{
    height: 200px;
    padding: 4px 4px 0px 4px;
}

#orderBtn{
    width: 100%;
}

.buttonsDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Dashboard{
    height: 38px;
}
